- content_for :header do
  %h1 选课志愿提交情况统计

.page-course-applies
  .chart
    .page-chart.all-courses-select-apply-pie

.pblock.table
  = page_data_table(:'courses', @courses, :striped, :bordered) do |table|
    - table.add_column :name
    - table.add_column :least_user_count
    - table.add_column :most_user_count
    - table.add_column :total_intent do |course|
      = course.intent_student_count
    - table.add_column :first_intent do |course|
      = course.intent_student_count :flag => :first
    - table.add_column :second_intent do |course|
      = course.intent_student_count :flag => :second
    - table.add_column :third_intent do |course|
      = course.intent_student_count :flag => :third
    - table.add_column :ops do |course|
      %a.btn.mini.success-flat{:href => "/manage/select_course_intents/list?course=#{course.id}"}
        %i.icon-tasks.icon-white
        %span 查看所有志愿