- content_for :header do
  .btns.front
    %a.btn.gray-flat{:href => '/manage/select_course_intents'}
      %i.icon-chevron-left
      %span 返回选课统计
  %h1 学生申请提交情况 - #{@course.name}
  .btns
    %a.btn.success-flat{:href => "/manage/select_course_intents/adjust?course=#{@course.id}", :title => '进入学生调剂页面，将其他学生调剂到本课程内'}
      %i.icon-retweet.icon-white
      %span 学生调剂

.page-course-applies
  .stat
    .overselect
      .inner
        .s
          .t 
            %span 最小人数：
            %b.c= @course.least_user_count
        .s
          .t 
            %span 最大人数：
            %b.c= @course.most_user_count
        .s
          .t 
            %span 目前已批准人数：
            %b.c.accept_count= @course.selected_users.count
        .s
          .t 
            %span 目前已拒绝人数：
            %b.c.reject_count= @course.be_reject_selected_users.count
        / .s
        /   .t
        /     %span 目前人数状态：
        /     %b.c= course_selected_stat_label @course
  
    .intent-bar
      .inner
        :ruby
          total_count = @course.intent_student_count

        .s.total
          .t 
            %span 志愿人数：
            %b.c= total_count 
        .s
          .t
            %span 目前志愿状态：
            %b.c= course_intent_stat_label @course
        .s
          .t
            %span 目前上课状态：
            %b.c= course_selected_stat_label @course

    .batch-ops
      .inner
        :ruby
          hide_batch_btn = true

          @course.intent_users.each do |user|
            flag = user.is_accept_or_reject_select?(@course)
            hide_batch_btn = hide_batch_btn && flag
          end


        - if hide_batch_btn
          .s
            目前所有学生申请已处理完毕
        - else
          .s
            %a.btn.inverse-flat{:href => "/manage/select_course_intents/batch_check_one?course=#{@course.id}", :data => {:method =>:post, :confirm => "将批量处理所有志愿，按照志愿时间先到先得，确定吗？"}} 
              %i.icon-ok.icon-white
              %span 一键通过所有申请

    .clearfix


  .pblock.table{:style => 'margin-top:-16px;'}
    = render_cell :course_select, :manage_table, :users => @students, :course => @course

  = paginate @students