:ruby
  padding = 10 + @depth * 20
  has_children = !@node.children.blank?

  is_root = ( @depth == 0 )

- if is_root
  :ruby
    if @node.kind == GroupTreeNode::TEACHER
      str = '教职工'
    end

    if @node.kind == GroupTreeNode::STUDENT
      str = '学生'
    end
    name = "全体#{str}"

  .group.active{:data => {:id => "-1", :name => name, :depth => '-1', :kind => @node.kind}}
    .data{:style => "padding-left:#{padding}px;"}
      %i.toggle.icon-group
      .name= name

.group{:data => {:id => "#{@node.id}", :name => @node.name, :depth => @depth, :kind => @node.kind}}
  .data{:style => "padding-left:#{padding}px;"}
    - if has_children
      %i.toggle.icon-minus-sign
    - else
      %i.toggle.icon-leaf
    .name= @node.name
    .ops
      - if !is_root
        %a.op.edit{:title => '修改组名', :href => 'javascript:;'}
          %i.icon-edit
      %a.op.add-child{:title => '增加子分组', :href => 'javascript:;'}
        %i.icon-plus

  .children
    - if has_children
      - @node.children.each do |child|
        = render_cell :group_tree, :node, :node => child, :depth => @depth + 1