:ruby
  children = @node.children

.chds
  .title 共 <b>#{children.count}</b> 个子分组
  .children
    - children.each do |child|
      .child{:data => {:id => "#{child.id}"}}
        %i.icon-user
        %span= child.name
    .clearfix

.ops
  %a.btn.add-user.success-flat{:href => 'javascript:;'}
    %i.icon-plus-sign-alt
    %span 增加用户

.usrs{:style => 'display:none;'}
  .table
    .header-bg
    .table-inner
      = page_data_table(:users, @users, :striped, :bordered) do |table|
        - table.add_line_data(:role)
        - table.add_column(:id) do |user|
          = "##{user.id}"
        - table.add_column(:role) do |user|
          = user_roles_str user
        - table.add_column(:login)
        - table.add_column(:name)
        - table.add_column(:gender)
  .paginate
    = paginate @users, :params => {:controller => :user_groups, :action => :show}
    .pinfo
      = page_entries_info @users