:ruby
  action = @model.new_record? ? '创建新' : '修改'
  ftitle = '课程编排'

- case @model
  - when Course
    :ruby
      course = @model
    .page-manage-courses-breadcrumb
      %ul.page-breadcrumb
        %li
          %a{:href => '/manage/courses'}= ftitle
          %span.divider /
        %li.active #{action}课程

  - when Chapter
    :ruby
      chapter = @model
      course = chapter.course
    .page-manage-courses-breadcrumb
      %ul.page-breadcrumb
        %li
          %a{:href => '/manage/courses'}= ftitle
          %span.divider /
        %li
          %a{:href => "/manage/courses/#{course.id}"}= course.name
          %span.divider /
        %li.active #{action}章节

  - when CourseWare
    :ruby
      course_ware = @model
      chapter = course_ware.chapter
      course = chapter.course
    .page-manage-courses-breadcrumb
      %ul.page-breadcrumb
        %li
          %a{:href => '/manage/courses'}= ftitle
          %span.divider /
        %li
          %a{:href => "/manage/courses/#{course.id}"}= course.name
          %span.divider /
        %li
          %a{:href => "/manage/chapters/#{chapter.id}"}= chapter.title
          %span.divider /
        %li.active #{action}课件