- content_for :header_v2 do
  %h1 欢迎使用云课堂
  .desc
    %b 系统管理员可以使用下列功能：

.page-user-home

  :ruby
    modules = [
      {
        :module => '系统管理员设置功能',
        :funcs => [
          {
            :title => '登录页背景设置', :desc => '设置登录页的背景图片', :link => '/admin/auth_image_setting', :icon => 'picture'
          },
        ]
      },

      {
        :module => '系统管理员用户功能',
        :funcs => [
          {
            :title => '用户管理', :desc => '增加用户，设置角色', :link => "/admin/users", :icon => 'user',
            :funcs => [
              {:title => '新增用户', :desc => '创建一个科目', :link => '/admin/users/new', :icon => 'plus'},
              {:title => '导入用户', :desc => '创建一个科目', :link => '/admin/users/import', :icon => 'upload'},
            ]
          },
          {:title => '用户分组管理', :desc => '给用户设置多级分组', :link => '/admin/user_groups', :icon => 'group'},
        ]
      },
      {
        :module => '系统管理员课程功能',
        :funcs => [
          {
            :title => '科目管理', :desc => '管理课程科目分类', :link => '/admin/categories', :icon => 'folder-open',
            :funcs => [
              {:title => '新建科目', :desc => '创建一个科目', :link => '/admin/categories/new', :icon => 'bell'},
            ]
          },
        ]
      }
    ]

  .modules
    - modules.each do |m|
      .module
        .mtitle
          %span= m[:module]
        .funcs
          - m[:funcs].each do |f|
            - color = string_grid_color f[:title]
            %a.func{:href => f[:link]}
              %i{:class => "icon-#{f[:icon]}", :style => "background-color:#{color};"}
              .data
                .title= f[:title]
                .desc= f[:desc]
            - if f[:funcs].present?
              .sub-funcs
                - f[:funcs].each do |sf|
                  -# color = string_grid_color sf[:title]
                  %a.sub-func{:href => sf[:link]}
                    %i{:class => "icon-#{sf[:icon]}", :style => "background-color:#{color};"}
                    .data
                      .title= sf[:title]
                      .desc= sf[:desc]