- content_for :header do
  %h1 欢迎使用云课堂
  .desc
    %b= current_user.name
    %span 同学，你好！你可以通过本系统使用下列功能：

.page-user-home
  :ruby
    modules = [
      {
        :module => '基础功能',
        :funcs => [
          {:title => '个人主页', :desc => '查看个人信息', :link => "/users/me", :icon => 'user'},
          {:title => '群组动态', :desc => '查看好友的公开动态汇总', :link => '/dashboard', :icon => 'coffee'},
        ]
      },

      {
        :module => '课程功能',
        :funcs => [
          {
            :title => '课程中心', :desc => '浏览系统内的所有公开课程', :link => '/courses', :icon => 'book',
            :funcs => [
              {:title => '我的课程', :desc => '查看我选中的课程', :link => '/courses/mine', :icon => 'bookmark'},
              {:title => '收藏的课程', :desc => '查看我收藏的课程', :link => '/courses/favs', :icon => 'star'},
            ]
          },
          {:title => '文件共享', :desc => '上传文件，共享给其他人', :link => '/disk', :icon => 'share'},
        ]
      },

      {
        :module => '作业与问答功能',
        :funcs => [
          {:title => '课程作业', :desc => '查看自己需要完成的课程作业', :link => '/practices', :icon => 'copy'},
          {
            :title => '线上问答', :desc => '提问和回答问题', :link => '/questions', :icon => 'question-sign',
            :funcs => [
              {:title => '提出的问题', :desc => '我提出的问题', :link => '/questions/iask', :icon => 'question-sign'},
              {:title => '得到的回答', :desc => '我得到回答的问题', :link => '/questions/be_answered', :icon => 'comment'},
              {:title => '贡献的回答', :desc => '我进行过回答的问题', :link => '/questions/answered', :icon => 'comment'},
              {:title => '关注的问题', :desc => '我当前关注的问题', :link => '/questions/favs', :icon => 'star'},
            ]
          },
        ]
      },
    ]

  .modules
    - modules.each do |m|
      .module
        .mtitle
          %span= m[:module]
        .funcs
          - m[:funcs].each do |f|
            - color = string_grid_color f[:title]
            %a.func{:href => f[:link]}
              %i{:class => "icon-#{f[:icon]}", :style => "background-color:#{color};"}
              .data
                .title= f[:title]
                .desc= f[:desc]
            - if f[:funcs].present?
              .sub-funcs
                - f[:funcs].each do |sf|
                  -# color = string_grid_color sf[:title]
                  %a.sub-func{:href => sf[:link]}
                    %i{:class => "icon-#{sf[:icon]}", :style => "background-color:#{color};"}
                    .data
                      .title= sf[:title]
                      .desc= sf[:desc]