- content_for :header_v2 do
  %h1 欢迎使用云课堂
  .desc
    %b= current_user.name
    %span 老师，你好！你可以通过本系统使用下列功能：

.page-user-home

  :ruby
    modules = [
      {
        :module => '基础功能',
        :funcs => [
          {:title => '个人主页', :desc => '查看个人信息', :link => "/users/me", :icon => 'user'},
          {:title => '群组动态', :desc => '查看好友的公开动态汇总', :link => '/dashboard', :icon => 'coffee'},
          {
            :title => '公告管理', :desc => '管理已发布的公告', :link => '/manage/announcements', :icon => 'info-sign',
            :funcs => [
              {:title => '发布公告', :desc => '发布课程公告', :link => '/manage/announcements/new', :icon => 'bell'},
            ]
          },
        ]
      },
    
      {
        :module => '课程功能',
        :funcs => [
          {:title => '课程中心', :desc => '浏览系统内的所有公开课程', :link => '/courses', :icon => 'book'},
          {
            :title => '课程编排', :desc => '编排和预览课程下的章节内容', :link => '/manage/courses/design', :icon => 'edit-sign',
            :funcs => [
              {:title => '创建课程', :desc => '创建一个新课程', :link => '/manage/courses/new', :icon => 'plus'},
              {:title => '上传课件', :desc => '上传 PPT/PDF 等课件', :link => '/manage/course_wares/new', :icon => 'upload'},
            ] 
          },
          {:title => '文件共享', :desc => '上传文件，共享给其他人', :link => '/disk', :icon => 'share'},
        ]
      },

      {
        :module => '作业与问答功能',
        :funcs => [
          {
            :title => '作业管理', :desc => '检查学生的作业提交情况', :link => '/manage/practices', :icon => 'flag',
            :funcs => [
              {:title => '布置作业', :desc => '在课程下给学生布置作业', :link => '/manage/practices/new', :icon => 'copy'},
            ]
          },
          {
            :title => '线上问答', :desc => '提问和回答问题', :link => '/questions', :icon => 'question-sign',
            :funcs => [
              {:title => '提出的问题', :desc => '我提出的问题', :link => '/questions/iask', :icon => 'question-sign'},
              {:title => '得到的回答', :desc => '我得到回答的问题', :link => '/questions/be_answered', :icon => 'comment'},
              {:title => '贡献的回答', :desc => '我进行过回答的问题', :link => '/questions/answered', :icon => 'comment'},
              {:title => '关注的问题', :desc => '我当前关注的问题', :link => '/questions/favs', :icon => 'star'},
            ]
          },
        ]
      },
    ]

  .modules
    - modules.each do |m|
      .module
        .mtitle
          %span= m[:module]
        .funcs
          - m[:funcs].each do |f|
            - color = string_grid_color f[:title]
            %a.func{:href => f[:link]}
              %i{:class => "icon-#{f[:icon]}", :style => "background-color:#{color};"}
              .data
                .title= f[:title]
                .desc= f[:desc]
            - if f[:funcs].present?
              .sub-funcs
                - f[:funcs].each do |sf|
                  -# color = string_grid_color sf[:title]
                  %a.sub-func{:href => sf[:link]}
                    %i{:class => "icon-#{sf[:icon]}", :style => "background-color:#{color};"}
                    .data
                      .title= sf[:title]
                      .desc= sf[:desc]