- @courses.each do |course|
  %table.page-data-table.bordered.course
    %tbody
      %tr
        %th.name 课程名
        %td.name{:colspan => 3}= course.name

        %th.intent-status 选课结果
        %td.approved{:colspan => 5}
          .app= course_select_status_label @user, course

        %th.lesson_hour 课时
        %td.lesson_hour= course.lesson_hour

        %th.credit 学分
        %td.credit= course.credit

        %td.open
          %a.open.btn.inverse-flat{:href => 'javascript:;'}
            %i.icon-chevron-down.icon-white
            %span 展开

  %table.page-data-table.bordered.course{:style => 'display:none;'}
    %tbody
      %tr
        %td.cover{:rowspan => 4}
          = fit_image course.cover.versions[:normal].url, :height => 120, :width => 120

        %th.id ID
        %td.id= course.id

        %th.name 课程名
        %td.name{:colspan => 3}= course.name

        %th.lesson_hour 课时
        %td.lesson_hour= course.lesson_hour

        %th.credit 学分
        %td.credit= course.credit

        %td.close
          %a.close.btn.inverse-flat{:href => 'javascript:;'}
            %i.icon-chevron-up.icon-white
            %span 关闭


      %tr
        %th.teacher 主讲人
        %td.teacher
          %span= avatar_link course.creator, :small
          %span= user_link course.creator

        %th.location 上课地点
        %td.location{:colspan => 3}= course.location

        %th.time 上课时间
        %td.time{:colspan => 4}= course.time

      %tr
        %th.intent-status 选课结果
        %td.approved{:colspan => 5}
          .app= course_select_status_label @user, course

        %th.ops 操作
        %td.ops{:colspan => 4}
          - if course.selected_users.include?(@user)
            %a.btn.disabled.gray-flat{:href => 'javascript:;'} 已经选中
          - elsif course.be_reject_selected_users.include?(@user)
            %a.btn.disabled.gray-flat{:href => 'javascript:;'} 没有选中
          - elsif course.intent_student_users.include?(@user)
            %a.btn.danger-flat.do-unselect{:href => 'javascript:;', :data => {:id => course.id}} 
              %i.icon-ok-circle.icon-white
              %span 撤销志愿
          - else
            %a.btn.success-flat.do-select{:href => 'javascript:;', :data => {:id => course.id}} 
              %i.icon-ok-circle.icon-white
              %span 发起志愿

