:ruby
  arr = [
    ["/users/#{@user.id}", '主页'],
    ["/users/#{@user.id}/courses", "学习的课程(#{@user.selected_courses.count})"],
    ["/users/#{@user.id}/questions", "提问(#{@user.questions.count})"],
    ["/users/#{@user.id}/answers", "回答(#{@user.answers.count})"]
  ]

.modelnavbar
  - arr.each do |item|
    :ruby
      active = request.path == item[0]

    %a.item{:href => item[0], :class => active ? 'active' : ''}
      %span= item[1]