- content_for :header_v2 do
  %h1 我要做的作业
  .desc
    你可以在这里看到你正在上课的课程中，所有需要完成的作业

.page-manage-homeworks
  .pblock.table
    = page_data_table(:practices, @practices, :striped, :bordered) do |table|
      - table.add_column :course do |p|
        - if p.chapter
          = course_link p.chapter.course
      - table.add_column :chapter do |p|
        - if p.chapter
          = p.chapter.title
      - table.add_column :title
      - table.add_column :submitted do |p|
        %span= user_practice_status(current_user, p)
      - table.add_column :score do |p|
        = user_practice_score(current_user, p)
      - table.add_column :ops do |p|
        %a.btn.inverse-flat.small.design{:href => "/practices/#{p.id}"}
          %i.icon-pencil.icon-white
          %span 做作业

  = paginate @practices
