- content_for :header do
  %h1 查看作业

.page-manage-homeworks
  .pblock.desc
    %b= current_user.name
    %span 同学你好，你可以在这里查看需要完成的作业

  .pblock.table
    = page_data_table(:practices, @practices, :striped, :bordered) do |table|
      - table.add_column :course do |p|
        = course_link p.chapter.course
      - table.add_column :chapter do |p|
        = p.chapter.title
      - table.add_column :title
      - table.add_column :submitted do |p|
        = '未完成'
      - table.add_column :ops do |p|
        %a.btn.inverse.small.design{:href => "/practices/#{p.id}"}
          %i.icon-ok.icon-white
          %span 查看详细
