- content_for :header_v2 do
  %h1 作业详情查看
  .desc
    在这里查看作业要求信息，以及提交作业

.page-practice-check
  .pblock.form
    = render_cell :practice, :info, :practice => @practice

  .pblock.desc
    %span 目前提交状态：
    %b= user_practice_status(current_user, @practice)

  .pblock.form
    :ruby
      record = @practice.get_record_by_user(current_user)
      record ||= PracticeRecord.new

    = simple_form_for record, :url => "/practices/#{@practice.id}/do_submit_record" do |f|
      .form-inputs
        = f.input :submit_desc, :input_html => {:rows => 8, :class => 'xxlarge', :style => 'resize:none;'}

        %label 作业附件
        = render_cell :layout, :file_uploader

      .form-actions{:style => 'margin-top:20px;'}
        = f.button :submit, '确定提交', :class => 'success-flat'