- content_for :header_v2 do
  %h1
    %a{:href => '/manage/courses/design'} 课程编排
    %span /
    %a{:href => "/manage/courses/#{@chapter.course.id}"}= @chapter.course.name
    %span /
    %span 修改章节信息

.pblock.form
  = simple_form_for @chapter, :url => "/manage/chapters/#{@chapter.id}" do |f|
    .form-inputs
      = f.input :title, :input_html => {:class => :xxlarge}
      = f.input :desc, :input_html => {:rows => 6, :class => :xxlarge}
    .form-actions
      = f.button :submit, :class => 'success'
      %a.btn.cancel{:href => "/manage/chapters/#{@chapter.id}"}= t('common.form.cancel')