- content_for :header do
  = render_cell :manage_courses_breadcrumb, :design, :model => @chapter

  .btns
    %a.btn.gray{:href => "/manage/chapters/#{@chapter.id}/edit"}
      %i.icon-edit
      %span= t('common.edit')

    %a.btn.success{:href => "/manage/chapters/#{@chapter.id}/course_wares/new"}
      %i.icon-plus.icon-white
      %span 上传课件

.page-manage-chapter-show
  - if flash[:success]
    .pblock.success
      %i.icon-ok
      %span= flash[:success]

  .pblock.table
    = render_cell :course_ware, :manage_table, :course_wares => @course_wares