- content_for :header_v2 do
  %h1
    %a{:href => '/manage/courses/design'} 课程编排
    %span /
    %a{:href => "/manage/courses/#{@chapter.course.id}"}= @chapter.course.name
    %span /
    %span= @chapter.title

.page-manage-chapter-show
  .pblock.modelinfo
    = render_cell :course, :chapter_baseinfo, :chapter => @chapter

  .js-dyn-table{:class => @course_wares.blank? ? 'blank' : ''}
    .pblock.table
      .new-line
        .op
          .desc.counter
            %span 章节下现有
            %b.count= @course_wares.count
            %span 个课件

          %a.btn.success.new{:href => 'javascript:;', :data => {:url => "/manage/chapters/#{@chapter.id}/course_wares/new"}}
            %i.icon-plus.icon-white
            %span 上传课件
            
      .tbl
        = render_cell :course_ware, :manage_table, :course_wares => @course_wares

    .blankslate
      %h3
        %span 章节
        %span= @chapter.title
        %span 下还没有任何课件

      .desc 
        点击上方的上传课件按钮来增加课件