- content_for :header_v2 do
  %h1 修改科目名称

.page-admin-categories
  .pblock.form
    = simple_form_for @category, :url => "/admin/categories/#{@category.id}" do |f|
      .form-inputs
        = f.input :name
        = f.input :parent_id, :as => :hidden, :input_html => { :value => params['parent_id'] } 

      .form-actions
        %a.do-submit.btn.success-flat{:href => 'javascript:;'}
          %i.icon-ok
          %span 更新科目名称
        %a.btn.cancel.gray-flat{:href => '/admin/categories'}
          %i.icon-arrow-left
          %span= t('common.form.cancel')