- content_for :header_v2 do
  %h1 修改科目名称

.page-admin-categories
  .pblock.form
    = simple_form_for @category, :url => "/admin/categories/#{@category.id}" do |f|
      .form-inputs
        = f.input :name
        = f.input :parent_id, :as => :hidden, :input_html => { :value => params['parent_id'] } 

      .form-actions
        = f.button :submit, :class => 'success-flat'
        %a.btn.cancel.gray-flat{:href => '/admin/categories'}= t('common.form.cancel')