.page-course-show
  = render_cell :course, :header, :course => @course, :user => current_user
  = render_cell :course, :navbar, :course => @course

  .mainp66{:style => 'padding-right:10px;'}
    = render_cell :course, :show_chapters, :user => current_user, :course => @course

    %h3 公告
    - @announcements.each do |announcement|
      %p= announcement.title
      
  .sidep33
    = render_cell :course, :learning_users, :course => @course

