:ruby
  @category = Category.find_by_id params[:category_id]

  if !@category.blank?
    @courses = Course.of_category(@category).page(params[:page])
  else
    @courses = Course.page(params[:page])
  end

- content_for :header do
  %h1 课程中心
  .desc
    这里列出了所有已经开放的线上课程，共 #{Course.count} 项课程
  - if current_user.present? and current_user.is_teacher?
    .btns
      %a.btn.success-flat{:href => '/manage/courses/new'}
        %i.icon-plus
        %span 创建新课程
      %a.btn.success-flat{:href => '/manage/course_wares/new'}
        %i.icon-upload
        %span 上传课件

.page-courses-index
  .pblock.form
    :ruby
      options = options_for_select([["全部", 0]] + Category.all.map { |c|
        [c.name, c.id]
      }, params[:category_id] || 0)

    .categories-select
      %label 科目：
      = select_tag :category, options

      .count
        %b= @courses.total_count
        %span 个课程

  - if @courses.blank?
    .pblock.desc 没有课程
  - else

  .all-courses{:style => 'margin-top:10px;margin-right:-9px;'}
    - @courses.each do |course|
      = render_cell :course, :smallcard, :course => course, :user => current_user
    .clearfix
    .paginate= paginate @courses

  .clearfix