- content_for :header do
  %h1 编排课程
  .btns
    %a.btn.btn-pill.btn-flat-success{:href => '/manage/courses/new'}
      %i.fa.fa-plus
      %span 创建课程

.page-manage-courses
  .pblock.filter
    :ruby
      cookies[:last_course_filter] = { 
        :value => @query, 
        :expires => 1.years.from_now 
      }
    = render_cell :layout, :manage_courses_filter, :query => @query

  .pblock.table
    = page_data_table(:courses, @courses, :striped) do |table|
      - table.add_column(:id) do |course|
        = "##{course.id}"
      - table.add_column(:name) do |course|
        = link_to course.name, "/manage/courses/#{course.id}"
      - table.add_column(:cid)
      - table.add_column(:creator) do |course|
        = user_link course.creator
      - table.add_column(:'chapters-count') do |course|
        = course.chapters.count
        
      - table.add_column(:ops) do |course|

        %a.btn.btn-pill.btn-flat-info.btn-mini{:href => "/manage/courses/#{course.id}/edit"}
          %i.fa.fa-edit
          %span= t('common.edit')

        %a.btn.btn-pill.btn-flat-info.btn-mini{:href => "/courses/#{course.id}?preview=true"}
          %i.fa.fa-eye
          %span 预览

        %a.delete.btn.btn-pill.btn-flat-danger.btn-mini{:href => 'javascript:;', :data => {:url => "/manage/courses/#{course.id}"}}
          %i.fa.fa-remove
          %span= t('common.delete')

  = paginate @courses