- content_for :header_v2 do
  %h1
    %a{:href => '/manage/courses'} 课程编排
    %span /
    %span= @course.name

  .desc
    你正在对课程 #{@course.name} 进行章节编排，你可以增减章节或调整章节排序

.page-manage-course-show
  .pblock.modelinfo
    = render_cell :course, :baseinfo, :course => @course

  .js-dyn-table{:class => @chapters.blank? ? 'blank' : ''}
    .pblock.table
      .new-line
        .op
          .desc.counter
            %span 课程下现有
            %b.count= @chapters.count
            %span 个章节

          %a.btn.success-flat.new{:href => 'javascript:;', :data => {:url => "/manage/courses/#{@course.id}/chapters/new"}}
            %i.icon-plus.icon-white
            %span 增加章节

      .tbl
        = render_cell :course_ware, :manage_chapter_table, :chapters => @chapters

    - if @chapters.blank?
      .empty-state
        .title
          %span 课程
          %span= @course.name
          %span 下还没有任何章节

        .desc 点击上方的增加章节按钮来创建一个新的章节