- content_for :header_v2 do
  %h1
    %a{:href => '/manage/practices'} 作业练习
    %span /
    %span
      %span 检查
      %span= @practice.title
  .desc
    检查学生的作业提交

.page-practice-manage-show
  .pblock.form
    = render_cell :practice, :info, :practice => @practice

  - if @practice.chapter.blank?

  - else
    .pblock.desc
      以下列出了所有上这门课的学生的作业提交情况

    .pblock.table
      :ruby
        @student_users = @practice.chapter.course.selected_users

      = page_data_table(:practice_students, @student_users, :striped, :bordered) do |table|
        - table.add_column :name do |u|
          = avatar_link u, :small
          = user_link u

        - table.add_column :status do |u|
          %span= user_practice_status(u, @practice)

        - table.add_column :score do |u|
          = user_practice_score(u, @practice)

        - table.add_column :ops do |u|
          %a.btn.inverse-flat.small.design{:href => "/practices/#{@practice.id}/check?user_id=#{u.id}"}
            %i.icon-ok.icon-white
            %span 查看详细