- content_for :header do
  %h1 新增用户

.pblock.form
  = simple_form_for @user, :url => '/admin/users' do |f|
    .form-inputs
      = f.input :login
      = f.input :name
      = f.input :password
      = f.input :password_confirmation

      = render_cell :admin, :form_user_role_select, :form_object => f

    .form-actions
      = f.button :submit, :class => 'success-flat'
      %a.btn.cancel.gray-flat{:href => '/admin/user_groups'}= t('common.form.cancel')