- course = @chapter.course

= simple_form_for @chapter, :remote => true, :url => "/manage/courses/#{course.id}/chapters" do |f|
  .form-inputs
    = f.input :title, :input_html => {:class => :xxlarge, :placeholder => '输入章节标题'}, :label => false
    = f.input :desc, :input_html => {:rows => 6, :class => :xxlarge, :placeholder => '输入章节简介'}, :label => false
  .form-actions
    %a.btn.success.submit{:href => "javascript:;"} 
      %i.icon-ok
      %span 创建章节
    %a.btn.gray-flat.cancel{:href => "javascript:;"}= t('common.form.cancel')