.header
  - if @user
    .btns
      - if @course.faved_by? @user
        = link_to "/courses/#{@course.id}/unfav", :class=> 'btn fav fav-flat faved', :method => :post do
          %i.icon-star
          %span 取消收藏

      - else
        = link_to "/courses/#{@course.id}/dofav", :class=> 'btn fav fav-flat', :method => :post do
          %i.icon-star-empty
          %span 加入收藏

      - if @user == @course.creator
        %span{:style => 'background: #eee;padding:10px; position:relative; left:10px; top:5px;'} 我是任课老师

      - else
        - if @course.has_accept? @user
          = link_to "/courses/#{@course.id}/exit", :class=> 'btn join gray-flat', :method => :post do
            %i.icon-signout
            %span 退出这门课程
        - else
          = link_to "/courses/#{@course.id}/join", :class=> 'btn join success-flat', :method => :post do
            %i.icon-plus
            %span 参加这门课程

  .cover= fit_image(@course.cover.versions[:normal].url, :width => 214, :height => 140)

  .data
    %h1= @course.name
    .info
      %span= @course.credit
      %span 学分，
      %span= @course.lesson_hour
      %span 课时，
      %span 上课时间：
      %span= @course.time.blank? ? '--' : @course.time
      %span ，地点：
      %span= @course.location.blank? ? '--' : @course.location
    .teacher
      %span 创建者：
      %span #{@course.creator.name} 老师


    - desc  = @course.desc || t('common.course.course-no-desc')
    - short = truncate_u(desc, 32)
    - long  = simple_format desc

    - if short == desc
      .desc.open
        .long
          .txt= long

    - else
      .desc.closed.page-long-desc
        .short
          %span= short
          %a.o{:href => 'javascript:;'}
            %i.icon-chevron-down
            %span 展开
        .long
          .txt= long
          %a.c{:href => 'javascript:;'}
            %i.icon-chevron-up
            %span 收起


    = render_cell :tags, :public, :model => @course

  .clearfix