:ruby
  arr = [
    ["/courses/#{@course.id}/chs", '课程内容'],
    ["/courses/#{@course.id}/questions", "课程问答(#{@course.questions.count})"],
    ["/courses/#{@course.id}/users_rank", '学习者名单'],
  ]

.modelnavbar
  - arr.each do |item|
    :ruby
      active = request.path == item[0]

    %a.item{:href => item[0], :class => active ? 'active' : ''}
      %span= item[1]