.chapters
  - chapters = @course.chapters

  - if @course.course_wares.count > 0
    - chapters.each do |chapter|
      - course_wares = chapter.course_wares
      - if course_wares.present?
        .chapter
          / - if chapters.count > 1
          .ch-title
            %i.icon-leaf.icon-white
            %span= truncate_u chapter.title, 32
          - if chapter.desc.present?
            .ch-desc
              = simple_format chapter.desc
          .wares
            - chapter.course_wares.each do |cw|
              .w{:style => 'position:relative;'}
                %a.ware{:href => "/course_wares/#{cw.id}", :class => course_ware_reading_css_class(cw, @user), :style => 'margin-right:100px;'}
                  .line
                  %i{:class => cw.kind}
                  .title= cw.title
                  .read-percent
                    :ruby
                      rp = course_ware_read_percent(cw, @user)
                      klass = rp == '0%' ? 'zero' : rp == '100%' ? 'full' : ''
                    %span{:class => klass}= rp

                  / - if cw.is_youku?
                  /   .snapshots
                  /     .snapshot.video.youku
                  /       = fit_image cw.cover_url, :width => 80, :height => 45

                  / - if cw.is_tudou?
                  /   .snapshots
                  /     .snapshot.video.tudou
                  /       = fit_image cw.cover_url, :width => 80, :height => 45

                  - if cw.is_ppt? || cw.is_pdf? || cw.is_doc?
                    .snapshots
                      - cw.output_images(:small)[0..3].compact.each do |img|
                        .snapshot.docpage= fit_image img.url, :width => 80, :height => 45

                - if !cw.is_video?
                  - begin
                    %a.btn.success.mini{:href => cw.file_entity.attach.url, :target => '_blank', :style => 'float:right;top:10px;right:10px;position:absolute;'}
                      %i.icon-download
                      %span 下载文件
                  - rescue
                    - #

  - else
    .blank 
      %i.icon-info-sign
      %span 课程下还没有任何内容