.page-sidebar
  - if session[:preview].present?
    %a.course-link.back{:href => "/manage/courses/#{@course.id}"}
      %i.icon-chevron-left
      %span.name 返回课程编排
  - else
    %a.course-link.back{:href => '/courses'}
      %i.icon-chevron-left
      %span.name 返回课程目录

  %hr

  - if @user.present?
    %a.userinfo{:href => url_for(@user)}
      .avatar= avatar @user, :large
      .name= @user.name

    - if @user.is_student?
      .module 课程学习进度
      .course-percent
        .prog 整体：
        - percent = @course.read_percent(@user)
        .page-progress.info.striped
          .bar{:style => "width:#{percent};"}
          .p= percent

        - @course.chapters.each do |chapter|
          .prog 章节-#{truncate_u chapter.title, 8}
          - percent = chapter.read_percent(@user)
          .page-progress.info.striped
            .bar{:style => "width:#{percent};"}
            .p= percent